* {
  border: none;
  margin: 0;
}

a:link, a:visited, a:hover, a:active  {
    text-decoration:none;
}

body {
    background-color: #6A5ACD;
    height: 100%;
    font-family: 'Old Standard TT', arial, serif;
}

h1{
    font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif;
    font-size: 50px;
}

h3{
    float: right;
    margin-top:-2em;
}

#greeting{
    color:#000000;
    width:auto;
    font: 11px;
    margin-right: 1em;
    
}

#greeting a{
  color:#000000;
}

#menu{
    background-image: url('../images/texture-paper.png');
    background-color: #dede9a;
    width:40em;
    padding: 1em 0 1em 0;
    border:solid 5px #F1F1D4;
    text-align: center;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 3em auto 4em;
}

#datepicker{
    text-align: center;
}

input {
    border: 5px solid #F1F1D4; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: #dede9a;
    margin: 0 0 10px 0;
    font-size: 20px;
    font-family: 'Old Standard TT', arial, serif;
}

button{
    background-color: #F1F1D4;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    font-family: 'Old Standard TT', arial, serif;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin-left: 1em; margin-right: 1em;
    margin-top: 1em;
}

button:hover {
    border: none;
    background-color: #dede9a;
    box-shadow: 0px 0px 1px #777;
}

/*-------------------------------------------------------------------------------------------------
Overlay/ Video
-------------------------------------------------------------------------------------------------*/

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-color:orange;
}

#overlay div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
     
}

/*-------------------------------------------------------------------------------------------------
 *
 -------------------------------------------------------------------------------------------------*/

#user input{
  border: 5px solid #F1F1D4; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: #dede9a;
    margin: 0 0 10px 0;
    font-size: 15px;
}

#submit{
    background-color: #F1F1D4;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    font-family: 'Old Standard TT', arial, serif;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1em; margin-right: 1em;
    margin-top: 1em;
}

#submit:hover {
    border: 5px solid #dede9a;
    background-color: #F1F1D4;
    box-shadow: 0px 0px 1px #777;
}


#morning, #evening, #compline{
    background-image: url('../images/texture-paper.png');
    background-color: #dede9a;
    width:50em;
    padding: 1em 2em 1em 2em;
    border:solid 5px #F1F1D4;
    text-align: left;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 3em auto 4em;
}

#morning h1, h2, #evening h1, h2, #compline h1, h2{
  text-align: center;
}

#todays-reading {
  display: none;
}

.canticle, .psalm, .creed, #thanksgiving{
  padding-left: 13em;
}

.lp{
  padding-left: 8em;
}

#video {
    margin-top: 5em;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 22em;
}

#video button{
  margin-left: 12em;
}