* {
  border: none;
  margin: 0;
}

#todays-reading { display: none;}

a:link, a:visited, a:hover, a:active  {
    text-decoration:none;
}

body {
    background-color: #6A5ACD;
    height: 100%;
}

h1{
    font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif;
    font-size: 50px;
}

h3{
    float: right;
    margin-top:-2em;
}

#greeting{
    color:#000000;
    width:auto;
    font: 11px;
    margin-right: 1em;
}

#greeting a{
  color:#000000;
}

#menu{
    background-color: #F1F1D4;
    width:40em;
    padding: 1em 0 1em 0;
    border:solid 5px #dede9a;
    text-align: center;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 3em auto 4em; /* the bottom margin is the negative value of the footer's height */
}

#datepicker{
    text-align: center;
}

button{
    background-color: #dede9a;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    font-family: 'Oswald';
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin-left: 1em; margin-right: 1em;
    margin-top: 1em;
}

button:hover {
    border: none;
    color: #fff;
    box-shadow: 0px 0px 1px #777;
}

footer, .push {
    height:4em;   /* Height of the footer */
}

footer{
 position:absolute;
   bottom:0;
   background-color: #F1F1D4;
   border-top:solid 5px #dede9a;
   border-right:solid 5px #dede9a;
   border-left:solid 5px #dede9a;
   width:80%;
   margin-right:10%;
   margin-left:10%;
}  

ul{
    margin-bottom:20px;
    overflow:hidden;
}

#footer li{
    width:50%;
    line-height:1.5em;
    float:left;
    display:inline;
}



/*#features{
    
    float: left;
    margin-left: -1em;
    margin-top: -1em;
    padding-left: 1em;
    width:33%;
    height: 100%;
    font-size: 150%;
    text-indent: 50px;
    
}

label {
    display: block;
    margin-left: 5px;
}
input {
    float: left;
    margin-left: 50px;
}

#select{
    margin-left: 10em;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 125%;
}

#display{
    background-color: #F1F1D4;
    float:right;
    margin-top: -1em;
    padding-top: 1em;
    width:67%;
}

#background{
    background-color: #a45acd;
    /*#cd6a5a
    #5acd6a*//*
    margin-left: -1em;
    padding-left: 1em;
    
}
*/